################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug/vc141.pdb
/x64/Debug/vc141.idb
/x64/Debug/tracker.obj
/x64/Debug/test.obj
/x64/Debug/Pong.tlog/Pong.lastbuildstate
/x64/Debug/Pong.tlog/link.write.1.tlog
/x64/Debug/Pong.tlog/link.read.1.tlog
/x64/Debug/Pong.tlog/link.command.1.tlog
/x64/Debug/Pong.tlog/CL.write.1.tlog
/x64/Debug/Pong.tlog/CL.read.1.tlog
/x64/Debug/Pong.tlog/CL.command.1.tlog
/x64/Debug/Pong.tlog
/x64/Debug/pong.obj
/x64/Debug/Pong.log
/x64/Debug/player.obj
/x64/Debug/calibrator.obj
/x64/Debug/ball.obj
/x64/Debug
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Pong/v15/Browse.VC.opendb
/.vs/Pong/v15/Browse.VC.db
/.vs/Pong/v15
/.vs
/Pong.vcxproj.user
/Pong.vcxproj.filters
/Pong.vcxproj
